.vs/demonstrationapi/FileContentIndex/28dc4f79-57f4-441b-8fc3-9f0983537cbd.vsidx
.vs/demonstrationapi/FileContentIndex/e0dd8844-476e-4477-9c69-76855523070c.vsidx
.vs/demonstrationapi/v17/.wsuo
.vs/demonstrationapi/v17/DocumentLayout.json
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
studentlecture/.vs/studentlecture/FileContentIndex/7f326974-0079-4b72-8995-39c886bf98a0.vsidx
studentlecture/studentlecture/obj/Debug/net9.0/rpswa.dswa.cache.json
studentlecture/studentlecture/obj/Debug/net9.0/studentlecture.AssemblyInfo.cs
studentlecture/studentlecture/obj/Debug/net9.0/studentlecture.AssemblyInfoInputs.cache
studentlecture/studentlecture/obj/Debug/net9.0/studentlecture.assets.cache
studentlecture/studentlecture/obj/Debug/net9.0/studentlecture.GeneratedMSBuildEditorConfig.editorconfig
studentlecture/studentlecture/obj/project.assets.json
studentlecture/studentlecture/obj/project.nuget.cache
studentlecture/studentlecture/obj/Release/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
studentlecture/studentlecture/obj/Release/net9.0/studentlecture.AssemblyInfo.cs
studentlecture/studentlecture/obj/Release/net9.0/studentlecture.AssemblyInfoInputs.cache
studentlecture/studentlecture/obj/Release/net9.0/studentlecture.assets.cache
studentlecture/studentlecture/obj/Release/net9.0/studentlecture.csproj.AssemblyReference.cache
studentlecture/studentlecture/obj/Release/net9.0/studentlecture.GeneratedMSBuildEditorConfig.editorconfig
studentlecture/studentlecture/obj/Release/net9.0/studentlecture.GlobalUsings.g.cs
studentlecture/studentlecture/obj/studentlecture.csproj.nuget.dgspec.json
studentlecture/studentlecture/obj/Debug/net9.0/rpswa.dswa.cache.json
studentlecture/studentlecture/obj/Debug/net9.0/studentlecture.AssemblyInfo.cs
studentlecture/studentlecture/obj/Debug/net9.0/studentlecture.AssemblyInfoInputs.cache
studentlecture/studentlecture/obj/Debug/net9.0/studentlecture.assets.cache
studentlecture/studentlecture/obj/Debug/net9.0/studentlecture.GeneratedMSBuildEditorConfig.editorconfig
studentlecture/studentlecture/obj/project.assets.json
studentlecture/studentlecture/obj/project.nuget.cache
studentlecture/studentlecture/obj/studentlecture.csproj.nuget.dgspec.json
studentlecture/studentlecture/obj/Debug/net9.0/rpswa.dswa.cache.json
studentlecture/studentlecture/obj/Debug/net9.0/rpswa.dswa.cache.json
/studentlecture/studentlecture/obj
